doctype html
html
    head
        meta(charset='utf-8')
        title Fishing Net
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        //video#WaterVideo( src='http://ie.microsoft.com/testdrive/Performance/FishBowl/Video/Water.mp4', preload='preload', autoplay='autoplay', loop='loop')
        //script(type='text/javascript', src='javascripts/Water.js')
        script(type='text/javascript', src='javascripts/enchant.js')
        script(type='text/javascript', src='javascripts/fish.js')

