html
    head
        title Game
    frameset(rows='60%,40%')
        frame(src='game')
        frameset(cols='70%,30%')
            frame(src='problem', name='Problems')
            frame(src='video', name='VideoTutorial')
    html