
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
        title Problems Window
        link(href='/stylesheets/problem-window.css', rel='stylesheet', type='text/css')
    body
        form(method='post', action='/problem/validate')
            div(style='padding: 80px 0 0 250px;')
                #problem-box
                    h2  Challenge and gain points to play more..
                    br
                    b
                        #problem-box-name(style='margin-top: 20px;') Question:
                    #problem-box-field(style='margin-top: 20px;')
                        question= question.problem_statement
                        input(type="hidden", name="problem_id", value=question._id)
                    br
                    b
                        #problem-box-name Ans:
                    #problem-box-field(style='margin-top: 20px;')
                        input#answer(type='text', name='answer')
                    br
                    br
                    input(type="submit", value="validate answer")