html
    head
        title Video Frames
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        br
        h2 Video tutorial (learn and solve the problem)
        br
        iframe(width='420', height='315', src='//www.youtube.com/embed/OOcclZ8ucrU', frameborder='0', allowfullscreen='allowfullscreen')
        br
    html