//Created by vsubramaney on 12/17/13.

extends layout
block content
        h1= title
        form( method="post")
            div
                div
                    span.label Question :
                    input(type="text", name="question", id="editQuestionsQuestion")
                div#editQuestionsSubmit
                    input(type="hidden", name="remove", value="yes")
                    input(type="submit", value="Remove")
                a(href="/questions?action=home")!= "Back to Questions List"