*
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body {
    padding: 2px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-align: center;
    text-stroke: 1px rgba(255,255,255,0.1);
    color: #0b0e55;
    background: #6e9b71;
}


#WaterVideo{
    display: block;
    position: fixed;
    opacity: 0.98;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1000;
}



.label {
    width: 150px;
    text-align: right !important;
    display: block;
    float: left;
}