
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
        title Login Box
        link(href='login-box.css', rel='stylesheet', type='text/css')
    body
        form(method='post')
            div(style='padding: 100px 0 0 250px;')
                #login-box
                    h2 Administrator Login
                    br
                    br
                    #login-box-name(style='margin-top: 20px;') Username:
                    #login-box-field(style='margin-top: 20px;')
                        input.form-login(name='username', type='text', title='Username', value='', size='30', maxlength='2048')
                    #login-box-name Password:
                    #login-box-field
                        input.form-login(name='password', type='password', title='Password', value='', size='30', maxlength='2048')
                    br
                    br
                    br
                    input(type="hidden", name="authenticate", value="yes")
                    input(type='submit', value='submit')
