//
   Created by vsubramaney on 12/23/13.

html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        title Game Frames
    body
        ul#menu
            li
                a(href='/admin?action=home' target='_blank') Admin
            li
                a(href='#') Overview
            li
                a(href='#') Contact Us
            li
                a(href='#') Register
            li
                a(href='#') Login
    h1 game window
    html