//
   Created by vsubramaney on 12/23/13.

html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        title Game Frames
    body
        ul#menu
            li
                a(href='/admin?action=login' target='_blank') Admin
            li
                a(href='#') Overview
            li
                a(href='#') Contact Us
            li
                a(href='#') Register
            li
                a(href='#') Login
        #game
            center
                #game-content(style='width: 500px; height: 450px;')
                    embed#flashobj_mc(width='100%', height='100%', quality='high', name='flashobj_mc', src='http://media.jaludo.com/gold_digger/fisherman_sam.swf', x-shockwave-flash='', application='')
            span#game-loading-text
