//
   Created by vsubramaney on 12/23/13.
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        title Game Frames
    body
        video#WaterVideo( src='http://ie.microsoft.com/testdrive/Performance/FishBowl/Video/Water.mp4', preload='preload', autoplay='autoplay', loop='loop')
        script(type='text/javascript', src='javascripts/Water.js')
        ul#menu
            li
                a(href='/admin?action=login' target='_blank') Admin
            li
                a(href='#') Overview
            li
                a(href='#') Contact Us
            li
                a(href='#') Register
            li
                a(href='#') Login


