//
   Created by vsubramaney on 12/23/13.

html
    head
        title Game
    frameset(rows='60%,40%')
        frame(src='game?render=game_window')
        frameset(cols='70%,30%')
            frame(src='game?render=problems_window', name='Problems')
            frame(src='game?render=video_tutorial_window', name='VideoTutorial')
    html
