//
   Created by vsubramaney on 12/23/13.

extends layout
block content
    #title
    h1= title
    form(method='post')
        div
            span.label Question :
            question= question.question
            input(type="hidden", name="question", value=question.question, id="validateQuestion")
            br
        br
        div
            span.label Ans:
            input#answer(type='text', name='answer', id="validateQuestion")
        br
        br
        div#validateQuestion
            input(type="hidden", name="validate", value="yes")
            input(type="submit", value="validate answer", id="validateAnswerButton")