//
   Created by vsubramaney on 12/23/13.

html
    head
        title Video Frames
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        embed(width='420', height='345', src='http://www.youtube.com/embed/OOcclZ8ucrU', type='application/x-shockwave-flash')
    html
